@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Estilos {
  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css" />
}
<h2 class="mt-4 mb-4">Especialidades</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <i class="fas fa-chart-bar me-1"></i>
                <span> Lista de Especialidades</span>

                <button type="button"
                        class="btn btn-success btn-sm ms-auto"
                        onclick="openHelpVideo('Doctor_Horario.mp4')"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-citas"
                        title="Ayuda: abre el vídeo de explicación (wwwroot/helps/Doctor_Horario.mp4).">
                    <i class="fa fa-circle-question"></i> Ayuda
                </button>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-outline-success" id="btnNuevo">Nueva Especialidad</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="display" id="tbData" cellspacing="0" style="width:100%">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
               
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="mdData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Especialidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="txtNombre" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>

    <script src="/views/especialidad/especialidad.js"></script>
    <script>
            (function () {
            "use strict";

            // ========= HELP VIDEO (simple) =========
            window.openHelpVideo = function (fileName) {
                const w = 900, h = 520;
                const left = Math.max(0, (screen.width - w) / 2);
                const top = Math.max(0, (screen.height - h) / 2);

                const url = "/helps/" + encodeURIComponent(fileName);

                window.open(
                    url,
                    "helpVideo",
                    `width=${w},height=${h},left=${left},top=${top},resizable=yes,scrollbars=no,toolbar=no,menubar=no,location=no,status=no`
                );
            };
        })();
    </script>
}